<% layout("/layout/boilerplate") %>>
<body id="editpage">
  <form method="post" action="/fest/result/<%=data._id%>?_method=put">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>Edit Details</h2>
        <div class="mb-3">
          <label for="event_name" class="form-label">Event Name</label>
          <input
            name="result[event_name]"
            class="form-control"
            type="text"
            value="<%=data.event_name%>"
          />
        </div>
        <div class="mb-3">
          <label for="team_name" class="form-label"
            >Team Name/Inadivisual</label
          >
          <input
            name="result[team_name]"
            class="form-control"
            type="text"
            value="<%=data.team_name%>"
          />
        </div>
        <div class="mb-3">
          <label for="position" class="form-label">Event Position</label>
          <input
            name="result[position]"
            class="form-control"
            type="text"
            value="<%=data.position%>"
          />
        </div>
        <div class="mb-3">
          <label for="year" class="form-label">Year of Studying</label>
          <input
            name="result[year]"
            class="form-control"
            type="text"
            value="<%=data.year%>"
          />
        </div>

        <button class="btn btn-dark">Edit</button>
      </div>
    </div>
  </form>
  <script src="/js/form.js"></script>
</body>
